<a href="https://colab.research.google.com/github/atmdatascience/python/blob/main/colab/Analisis_v01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/atmdatascience/python/main/datasets/encuestasweb/"

In [3]:
archivo = "Encuestas-2021-Tramite-web.csv"

In [4]:
encuesta = pd.read_csv(url+archivo)

In [5]:
encuesta.head(7)

   Unnamed: 0  ...                         Agregue aquí su sugerencia
0           1  ...  La unica sugerencia, es un poco mas de celerid...
1           2  ...                                                NaN
2           3  ...                                                NaN
3           4  ...  Llevo 90 minutos al teléfono y nadie atiende, ...
4           5  ...                                                NaN
5           6  ...                                                NaN
6           7  ...                                                NaN

[7 rows x 9 columns]

In [6]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 9 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Unnamed: 0                                                               2703 non-null   int64
 1   Marca temporal                                                           2703 non-null   object
 2   1. Utiliza habitualmente la página web de ATM                            2703 non-null   object
 3   2. Le resultó simple la creación de su cuenta en Mis Trámites            2703 non-null   object
 4   3. Le resulta comprensible la sección de Mis Trámites                    2703 non-null   object
 5   4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:  2703 non-null   object
 6   5. La información brindada por la página web de ATM es:                  2693 non-null   object
 7   6. El boleto para pagar el año 2021 lo obtiene por:                      2703 non-null   object
 8   Agregue aquí su sugerencia                                               951 non-null    object
dtypes: int64(1), object(8)
memory usage: 190.2+ KB

In [7]:
encuesta.rename(columns={"Unnamed: 0":"numero"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"Marca temporal":"fecha"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"1. Utiliza habitualmente la página web de ATM":"P1"}, inplace=True) # la columna es "1. Utiliza habitualmente la página web de ATM"
encuesta.rename(columns={"2. Le resultó simple la creación de su cuenta en Mis Trámites":"P2"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"3. Le resulta comprensible la sección de Mis Trámites":"P3"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:":"P4"}, inplace=True) # la columna es "4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:"
encuesta.rename(columns={"5. La información brindada por la página web de ATM es:":"P5"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"6. El boleto para pagar el año 2021 lo obtiene por:":"P6"}, inplace=True) # la columna es "Unnamed: 0"
encuesta.rename(columns={"Agregue aquí su sugerencia":"P7"}, inplace=True) # la columna es "Unnamed: 0"

In [8]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   numero  2703 non-null   int64
 1   fecha   2703 non-null   object
 2   P1      2703 non-null   object
 3   P2      2703 non-null   object
 4   P3      2703 non-null   object
 5   P4      2703 non-null   object
 6   P5      2693 non-null   object
 7   P6      2703 non-null   object
 8   P7      951 non-null    object
dtypes: int64(1), object(8)
memory usage: 190.2+ KB