<a href="https://colab.research.google.com/github/atmdatascience/python/blob/main/colab/Visualizaciones_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Logo-ATM.png]()

#Gráficos de la encuesta

## Modulos

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots

## Fuente de datos

In [2]:
url = "https://raw.githubusercontent.com/atmdatascience/python/main/datasets/encuestasweb/"

In [3]:
archivo2021 = "Encuestas-2021-Tramite-web.csv"

## Creación del dataframe

In [4]:
encuesta = pd.read_csv(url+archivo2021, sep=";")

## Visualización del dataframe

In [5]:
encuesta

         Marca temporal  ...                         Agregue aquí su sugerencia
0      2/3/2021 9:49:57  ...  La unica sugerencia, es un poco mas de celerid...
1      2/3/2021 9:54:50  ...                                                NaN
2     2/3/2021 10:02:34  ...                                                NaN
3     2/3/2021 10:11:57  ...  Llevo 90 minutos al teléfono y nadie atiende, ...
4     2/3/2021 10:32:09  ...                                                NaN
...                 ...  ...                                                ...
3126  7/8/2021 10:36:37  ...                                                NaN
3127  7/8/2021 10:48:17  ...                                                NaN
3128  7/8/2021 12:13:08  ...                                                NaN
3129  7/8/2021 12:22:17  ...  Deberian realizar la atencion virtual de los c...
3130  7/8/2021 12:43:40  ...                                                NaN

[3131 rows x 8 columns]

In [6]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3131 entries, 0 to 3130
Data columns (total 8 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Marca temporal                                                           3131 non-null   object
 1   1. Utiliza habitualmente la página web de ATM                            3131 non-null   object
 2   2. Le resultó simple la creación de su cuenta en Mis Trámites            3131 non-null   object
 3   3. Le resulta comprensible la sección de Mis Trámites                    3131 non-null   object
 4   4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:  3131 non-null   object
 5   5. La información brindada por la página web de ATM es:                  3121 non-null   object
 6   6. El boleto para pagar el año 2021 lo obtiene por:                      3131 non-null   object
 7   Agregue aquí su sugerencia                                               1102 non-null   object
dtypes: object(8)
memory usage: 195.8+ KB

## Limpieza y transformación de datos

In [7]:
encuesta.rename(columns={"Marca temporal":"Fecha"}, inplace=True) # "Marca temporal"
encuesta.rename(columns={"1. Utiliza habitualmente la página web de ATM":"P1"}, inplace=True) # "1. Utiliza habitualmente la página web de ATM"
encuesta.rename(columns={"2. Le resultó simple la creación de su cuenta en Mis Trámites":"P2"}, inplace=True) # "2. Le resultó simple la creación de su cuenta en Mis Trámites""
encuesta.rename(columns={"3. Le resulta comprensible la sección de Mis Trámites":"P3"}, inplace=True) # "3. Le resulta comprensible la sección de Mis Trámites"
encuesta.rename(columns={"4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:":"P4"}, inplace=True) # "4. El trámite que realizó dentro de Mis Trámites fue resuelto de forma:"
encuesta.rename(columns={"5. La información brindada por la página web de ATM es:":"P5"}, inplace=True) # "5. La información brindada por la página web de ATM es:"
encuesta.rename(columns={"6. El boleto para pagar el año 2021 lo obtiene por:":"P6"}, inplace=True) # "6. El boleto para pagar el año 2021 lo obtiene por:"
encuesta.rename(columns={"Agregue aquí su sugerencia":"P7"}, inplace=True) # "Agregue aquí su sugerencia"

In [8]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3131 entries, 0 to 3130
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   3131 non-null   object
 1   P1      3131 non-null   object
 2   P2      3131 non-null   object
 3   P3      3131 non-null   object
 4   P4      3131 non-null   object
 5   P5      3121 non-null   object
 6   P6      3131 non-null   object
 7   P7      1102 non-null   object
dtypes: object(8)
memory usage: 195.8+ KB

In [9]:
encuesta.drop(columns=["P7"], inplace=True)

In [10]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3131 entries, 0 to 3130
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   3131 non-null   object
 1   P1      3131 non-null   object
 2   P2      3131 non-null   object
 3   P3      3131 non-null   object
 4   P4      3131 non-null   object
 5   P5      3121 non-null   object
 6   P6      3131 non-null   object
dtypes: object(7)
memory usage: 171.4+ KB

In [11]:
encuesta["Fecha"] = pd.DatetimeIndex(encuesta["Fecha"])

In [12]:
encuesta.insert(1,column="Meses",value=pd.DatetimeIndex(encuesta["Fecha"]).month_name())
encuesta.insert(2,column="Dias",value=pd.DatetimeIndex(encuesta["Fecha"]).day_name())
encuesta.insert(3,column="Hora",value=pd.DatetimeIndex(encuesta["Fecha"]).hour)

In [13]:
encuesta.Meses = encuesta.Meses.astype(str).str.replace("February","Febrero")
encuesta.Meses = encuesta.Meses.astype(str).str.replace("March","Marzo")
encuesta.Meses = encuesta.Meses.astype(str).str.replace("April","Abril")
encuesta.Meses = encuesta.Meses.astype(str).str.replace("May","Mayo")
encuesta.Meses = encuesta.Meses.astype(str).str.replace("June","Junio")
encuesta.Meses = encuesta.Meses.astype(str).str.replace("July","Julio")

In [14]:
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Monday","Lunes")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Tuesday","Martes")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Wednesday","Miercoles")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Thursday","Jueves")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Friday","Viernes")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Saturday","Sabado")
encuesta.Dias = encuesta.Dias.astype(str).str.replace("Sunday","Domingo")

In [15]:
encuesta["Encuestas"] = 1

In [16]:
encuesta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3131 entries, 0 to 3130
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      3131 non-null   datetime64[ns]
 1   Meses      3131 non-null   object
 2   Dias       3131 non-null   object
 3   Hora       3131 non-null   int64
 4   P1         3131 non-null   object
 5   P2         3131 non-null   object
 6   P3         3131 non-null   object
 7   P4         3131 non-null   object
 8   P5         3121 non-null   object
 9   P6         3131 non-null   object
 10  Encuestas  3131 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 269.2+ KB

In [17]:
encuesta.head()

                Fecha    Meses  ...                                P6  Encuestas
0 2021-02-03 09:49:57  Febrero  ...  Descarga de la página web de ATM          1
1 2021-02-03 09:54:50  Febrero  ...  Descarga de la página web de ATM          1
2 2021-02-03 10:02:34  Febrero  ...  Descarga de la página web de ATM          1
3 2021-02-03 10:11:57  Febrero  ...  Descarga de la página web de ATM          1
4 2021-02-03 10:32:09  Febrero  ...  Descarga de la página web de ATM          1

[5 rows x 11 columns]

# Visualizaciones

## Graficos de Barra

### Grafico de Barras por Mes

#### Agrupacion de los datos

In [18]:
Meses = encuesta.groupby("Meses", as_index=False, sort=False).count()
Meses

     Meses  Fecha  Dias  Hora   P1   P2   P3   P4   P5   P6  Encuestas
0  Febrero    560   560   560  560  560  560  560  558  560        560
1    Marzo    750   750   750  750  750  750  750  746  750        750
2    Abril    677   677   677  677  677  677  677  676  677        677
3     Mayo    544   544   544  544  544  544  544  541  544        544
4    Junio    493   493   493  493  493  493  493  493  493        493
5    Julio    107   107   107  107  107  107  107  107  107        107

In [20]:
Meses["Porcentaje"] = round((Meses.Encuestas/encuesta.Encuestas.sum())*100, 2)
Meses

     Meses  Fecha  Dias  Hora   P1  ...   P4   P5   P6  Encuestas  Porcentaje
0  Febrero    560   560   560  560  ...  560  558  560        560       17.89
1    Marzo    750   750   750  750  ...  750  746  750        750       23.95
2    Abril    677   677   677  677  ...  677  676  677        677       21.62
3     Mayo    544   544   544  544  ...  544  541  544        544       17.37
4    Junio    493   493   493  493  ...  493  493  493        493       15.75
5    Julio    107   107   107  107  ...  107  107  107        107        3.42

[6 rows x 12 columns]

#### Grafico

In [36]:
figmeses01 = px.bar(Meses, 
             x="Meses", 
             y="Encuestas", 
             text="Porcentaje",
             template="plotly_white",
             title="Encuestas realizadas por mes",)

figmeses01.show()

In [ ]:
figmeses01.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01.html")

In [ ]:
figmeses02 = px.bar(Meses, x="Meses", y="Encuestas", title="Encuestas realizadas por mes")
figmeses02.show()

### Grafico de Barras por Hora

#### Agrupacion de los datos

In [ ]:
Horas = encuesta.groupby("Hora", as_index=False).count()
Horas

#### Grafico

In [ ]:
fighoras01 = px.bar(Horas, 
                    x="Hora", 
                    y="Encuestas", 
                    text="Encuestas",
                    template="plotly_white",
                    title="Encuestas realizadas por hora en el día")

fighoras01.update_xaxes(type="category")
fighoras01.show()

In [ ]:
fighoras01.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/fighoras01.html")

### Grafico de Barras por Dia de la Semana

#### Agrupacion de los datos

In [ ]:
Dias = encuesta.groupby("Dias", as_index=False, sort=False).count()
Dias

#### Grafico

In [ ]:
fig = px.bar(Dias, 
             x="Dias", 
             y="Encuestas", 
             text="Encuestas",
             template="plotly_white",
             title="Encuestas realizadas por día de la semana")

fig.update_xaxes(categoryorder="array", categoryarray= ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"])
fig.show()

### Grafico de Barras Pregunta 1 por Mes

¿Utiliza habitualmente la página web de ATM?

#### Agrupacion de los datos

In [ ]:
MesesP1 = encuesta.groupby(["Meses","P1"], as_index=False, sort=False).count()
MesesP1

#### Grafico

In [ ]:
figmeses01P1 = px.bar(MesesP1, 
             x="Meses", 
             y="Encuestas", 
             text="Encuestas",
             template="plotly_white",
             color="P1", 
             labels={"P1":""},
             title="¿Utiliza habitualmente la página web de ATM?")

figmeses01P1.show()

In [ ]:
figmeses01P1.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01P1.html")

In [ ]:
fig = px.bar(MesesP1, x="Meses", y="Encuestas", color="P1", title="¿Utiliza habitualmente la página web de ATM?", barmode="group")
fig.show()

### Grafico de Barras Pregunta 2 por Mes

¿Le resultó simple la creación de su cuenta en Mis Trámites?

#### Agrupacion de los datos

In [ ]:
MesesP2 = encuesta.groupby(["Meses","P2"], as_index=False, sort=False).count()
MesesP2

#### Grafico

In [ ]:
figmeses01P2 = px.bar(MesesP2, 
             x="Meses", 
             y="Encuestas", 
             color="P2", 
             text="Encuestas",
             labels={"P2":""},
             template="plotly_white",
             title="¿Le resultó simple la creación de su cuenta en Mis Trámites?")

figmeses01P2.show()

In [ ]:
figmeses01P2.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01P2.html")

In [ ]:
fig = px.bar(MesesP2, 
             x="Meses", 
             y="Encuestas", 
             color="P2", 
             title="¿Le resultó simple la creación de su cuenta en Mis Trámites?",
             barmode="group")
fig.show()

### Grafico de Barras Pregunta 3 por Mes

¿Le resulta comprensible la sección de Mis Trámites?

#### Agrupacion de los datos

In [ ]:
MesesP3 = encuesta.groupby(["Meses","P3"], as_index=False, sort=False).count()
MesesP3

#### Grafico

In [ ]:
figmeses01P3 = px.bar(MesesP3, 
             x="Meses", 
             y="Encuestas", 
             color="P3", 
             text="Encuestas",
             labels={"P3":""},
             template="plotly_white",
             title="¿Le resulta comprensible la sección de Mis Trámites?")

figmeses01P3.show()

In [ ]:
figmeses01P3.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01P3.html")

In [ ]:
fig = px.bar(MesesP3, 
             x="Meses", 
             y="Encuestas", 
             color="P3", 
             barmode="group",
             title="¿Le resulta comprensible la sección de Mis Trámites?")
fig.show()

### Grafico de Barras Pregunta 4 por Mes

El trámite que realizó dentro de Mis Trámites fue resuelto de forma...

#### Agrupacion de los datos

In [ ]:
MesesP4 = encuesta.groupby(["Meses","P4"], as_index=False, sort=False).count()
MesesP4

In [ ]:
MesesP4["Porcentaje"] = MesesP4.Encuestas/(encuesta.Encuestas.sum())*100
MesesP4

In [ ]:
MesesP4.info()

#### Grafico

In [ ]:
figmeses01P4 = px.bar(MesesP4, 
             x="Meses", 
             y="Encuestas", 
             color="P4",
             text="Encuestas",
             labels={"P4":""},
             template="plotly_white",
             title="El trámite que realizó dentro de Mis Trámites fue resuelto de forma...")

figmeses01P4.show()

In [ ]:
figmeses01P4.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01P4.html")

In [ ]:
fig = px.bar(MesesP4, 
             x="Meses", 
             y="Encuestas", 
             color="P4", 
             barmode="group",
             title="El trámite que realizó dentro de Mis Trámites fue resuelto de forma...")
fig.show()

### Grafico de Barras Pregunta 5 por Mes

La información brindada por la página web de ATM es...

#### Agrupacion de los datos

In [ ]:
MesesP5 = encuesta.groupby(["Meses","P5"], as_index=False, sort=False).count()
MesesP5

#### Grafico

In [ ]:
figmeses01P5 = px.bar(MesesP5, 
             x="Meses", 
             y="Encuestas", 
             color="P5", 
             text="Encuestas",
             labels={"P5":""},
             template="plotly_white",
             title="La información brindada por la página web de ATM es...")

figmeses01P5.show()

In [ ]:
figmeses01P5.write_html("/content/drive/MyDrive/Calidad/Ciencia de Datos/Encuestas/figmeses01P5.html")

In [ ]:
fig = px.bar(MesesP5, 
             x="Meses", 
             y="Encuestas", 
             color="P5", 
             barmode="group",
             title="La información brindada por la página web de ATM es...")
fig.show()

## Grafico Circular

In [ ]:
encuesta.head(2)

#### Grafico

In [ ]:
fig = px.pie(encuesta, 
             values="Encuestas",
             names="Meses",
             title="Total de Encuestas por Mes",
             hole=0.5)

fig.show()